
@media only screen and (min-width: 767px) and (max-width: 1268px) {
/*当屏幕小于1268px时进入新版隐藏*/	
.new-edition{
	display: none;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1268px) {
/*内容第四部分响应*/
.fourth-contain .vivo-media-box h2{
	margin-left: 15px;
}
.fourth-contain .cont1{
	margin-left: 15px;
}
.fourth-contain .cont2{
	margin-left: -50px;
}
.fourth-contain .cont3{
	margin-left: -150px;
}
.fourth-contain .strong1{
	margin-left: 80px;
}
.fourth-contain .strong2{
	margin-left: 15px;
}
.fourth-contain .strong3{
	margin-left: -80px;
}
.fourth-contain .figure1 img{
	margin-left: -50px;
}
.fourth-contain .figure2 img{
	margin-left: -120px;
}
.fourth-contain .figure3 img{
	margin-left: -150px;
}
}
@media only screen and (min-width:767px )and (max-width:1000px) {
	/*内容第二部分响应*/
	.second-contain ul li{
		width: 50%;
	}
}
@media only screen and (min-width:767px )and (max-width:900px) {
	/*导航条*/
	.vivo-nav{
		margin-left: 35px;
	}
	/*内容第四部分响应*/
	.fourth-contain ul li{
		width: 100%;
		padding-top: 50px;
	}
	.fourth-contain .vivo-media-box h2{
	    margin-left: 15px;
    }
	.fourth-contain .figure{
		float: left;
		margin-left: 700px;
	}
	.fourth-contain .cont{
		margin-left: 50px;
	}
	.fourth-contain strong{
		margin-left: 80px;
	}
}
@media only screen and (max-width:768px ) {
.new-edition{
	display: block;
}
/*首页*/
.first-contain ul li{
	width: 100%;
}
.second-contain ul li{
	width: 100%;
}
.third-contain{
	height: 600px;
}
.third-contain ul li{
	width: 100%;
}
.fourth-contain{
	width: 100%;
}
.fourth-contain ul li{
	width: 100%;
	padding-top: 50px;
}
.fourth-contain .vivo-media-box h2{
	margin-left:10px ;                    
}
.fourth-contain .figure{
	float: left;
	margin-left:220px;
}
.fourth-contain .cont{
	margin-left: 10px;
}
.fourth-contain strong{
	margin-left:80px;
}
.vivo-header{
	height: 50px;
}
.header-wrap .vivo-header a.header-logo{
	margin-left: -40px;
}
.vivo-header .new-edition{
	top: 50%;
	left: 130px;
}
.vivo-header .vivo-nav{
	visibility: hidden;
}
.vivo-header .nav-tool a{
	display: none;
}
.vivo-header .nav-tool .nav-tool-menu b{
	display: block;
	width: 18px;
	height: 18px;
	background-position:0px -33px;
	margin-left:200px;
	margin-top: 5px;
}
.vivo-header .nav-tool .nav-tool-menu b.remove{
	width: 18px;
	height: 18px;
	background-position:-23px -33px;
	margin-left:200px;
	margin-top: 5px;
	display:none;
}
.vivo-footer-wrap{
	height: 243px;
}
.vivo-foot{
	height: auto;
	width: 100%;
}
.vivo-foot .foot-logo{
	padding: 10px 0 10px 0px;
}
.vivo-foot .foot-logo img{
	width: 80px;
	height: 30px;
}
.vivo-foot .foot-ico{
	width: 100%;
	height: 30px;
	position: absolute;
	margin-top:3px ;
	margin-left: -10px;
}
.foot-ico a{
	width: 30px;
	height:30px;
	margin: 2 3px;
}
.foot-ico .foot-sina b{
	width: 30px;
	height: 30px;
	background-position: -425px -85px;
}
.foot-ico .foot-wechat b{
	width: 30px;
	height: 30px;
	background-position: -560px -85px;
}
.foot-ico .foot-v b{
	width: 30px;
	height: 30px;
	background-position: -292px -85px;
}
.foot-ico .foot-tie b{
	width: 30px;
	height: 30px;
	background-position: -337px -85px;
}
.foot-ico .foot-home b{
	width: 30px;
	height: 30px;
	background-position: -200px -85px;
}
.foot-ico .foot-kefu{
	margin-top: 20px;
	width: 130px;
	height: 30px;
	font-size: 12px;
}
.foot-ico .foot-kefu span{
	display: none;
}
.foot-links a{
	font-size: 5px;
	margin-left: 5px;
}
.vivo-foot .foot-copy{
	text-align: center;
	margin-top: -80px;
	font-size: 12px;
}
.vivo-foot .foot-copy .bar{
	margin-left: 5px;
	margin-top: -3px;
}
.top{
	width: 20px;
	height: 20px;
	margin-left: 3px;
}
.top p{
	font-size:10px;
}
.return-top{
	height: 20px;
	width: 20px;
}
.glyphicon-triangle-top{
	font-size: 5px;
	margin-top: 1px;
	margin-left: 3px;
}
.vivo-header .nav-menu{
	margin-top: 50px;	
}
/*Funtouch OS页面*/
#vivo-contain .funtouch-switch{
	width: 100%;
	height: 50px;
}
#vivo-contain .funtouch-switch .switch-option{
	width: 33.3%;
	height: 20px;
	display: block; 
	margin-left: -230px;
	border-right:none ;
}
.switch-option a{
	width: 20px;
	height: 20px;
	display: block;
}
.switch-option img{
	width: 20px;
	height: 20px;
}
.content-left .content-up{
	height: auto;
}
.content-left .content-up dl{
	width: 100%;
	display: block;
}
.content-left .content-down{
	height: auto;
}
.content-left .content-down dl{
	width: 100%;
	display: block;
}
.funtouch-content .content-right{
	height: 800px;
	width: 100%;
    margin-top: 950px;
}
/*体验中心页面*/
#vivo-contain .center-centent .star-shop h2{
	font-size: 24px;
}
#vivo-contain .center-centent .star-shop a{
	font-size: 14px;
}
#vivo-contain .center-centent .star-shop .seclect{
	width: 100%;
	display: block;
	margin-top: 20px;
	margin-left: 10px;
}
#vivo-contain .center-centent .star-shop .seclect form .sel-province{
	width: 80px;
	height: 30px;
}
#vivo-contain .center-centent .star-shop .seclect form .sel-city{
	width: 80px;
	height: 30px;
}
#vivo-contain .star-shop .seclect form .search input.input-search{
	width: 250px;
	height: 36px;
	margin-top: 40px;
	margin-left: 10px;
}
#vivo-contain .star-shop .seclect form .search input.search-ico{
	left: -1px;
	top: 40px;
}
#vivo-contain .center-centent .star-shop .shop-content{
	height: auto;
	width: 100%;
	margin-top: 200px;
}
#vivo-contain .shop-content .shop-contact{
	width: 100%;
}
#vivo-contain .shop-content .figure{
	margin-left: 20px;
}
#vivo-contain .shop-content-two{
	width: 100%;
	margin-top: 120px;
}
#vivo-contain .shop-content-three{
	margin-top: 700px;
}
#vivo-contain .shop-contact p{
	font-size: 12px;
}
#vivo-contain .center-centent .star-activity{
	width: 100%;
	height: auto;
}
#vivo-contain .center-centent .star-activity ul{
	width: 100%;
	height: 1300px;
}
#vivo-contain .center-centent .star-activity h2{
	font-size: 24px;
}
#vivo-contain .star-activity li{
	width: 100%;
}
#vivo-contain .star-activity li .figure{
	margin-left: 20px;
}
#vivo-contain .star-activity li .activity{
	width: 100%;
	float: none;
	position: absolute;
	margin-top: 150px;
	margin-left: 20px;
}

#vivo-contain .star-activity li:nth-child(2){
	margin-top: 400px;
}
#vivo-contain .star-activity li:nth-child(3){
	margin-top: 400px;
}
#vivo-contain .star-activity li h3{
	font-size: 16px;
	text-align: center;
}
#vivo-contain .star-activity li h4{
	font-size: 14px;
	text-align: left;
}
#vivo-contain .star-activity li p{
	font-size: 12px;
	text-align: left;
}
#vivo-contain .star-activity li a{
	position: absolute;
	margin-top: 380px;
	margin-left: -210px;
	width: 120px;
	font-size: 12px;
}
#vivo-contain .center-centent .special{
	width: 100%;
	margin-top: 100px;
}
#vivo-contain .center-centent .special li:nth-child(1) h2{
	margin-left: -120px;
	font-size: 24px;
	font-weight: 300;
}
#vivo-contain .center-centent .special li:nth-child(2) h2{
	margin-left: -120px;
	font-size: 24px;
	font-weight: 300;
}
#vivo-contain .center-centent .special li:nth-child(3) h2{
	margin-left: -120px;
	font-size: 24px;
	font-weight: 300;
}
#vivo-contain .center-centent .special .figure{
	margin-left: -10px;
}
#vivo-contain .center-centent .special li p{
	display: block;
	width: 100%;
	height: 100px;
}

}