
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,input,lengend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}


.footer{color:#999;background-color:#333;clear:both}



.footer_copyright{font-size:12px}




.footer_copyright{text-align:center;line-height:28px;padding:24px 0}



