@charset "utf-8";.mod_tab,.mod_tab__item{height:56px;line-height:56px}

.mod_tab{position:relative;zoom:1;border-bottom:1px solid #f7f7f7;margin-bottom:30px}

.mod_tab__item{position:relative;float:left;font-size:16px;overflow:hidden;margin-right:55px}

.mod_tab__current{color:#31c2c}

.mod_list_menu{font-size:0;height:36px}

.list_menu__item{display:inline-block;margin-right:10px;vertical-align:top}

.list_menu__icon_add,.list_menu__icon_delete,.list_menu__icon_down,.list_menu__icon_edit,.list_menu__icon_pause,.list_menu__icon_play,.list_menu__icon_share{display:block;width:36px;height:36px;background-image:url(img/icon_list_menu.png?max_age=2592000&v=4566a1a62ecad72fe9b9205d1ad62d2b);background-image:-webkit-image-set(url(img/icon_list_menu.png?max_age=2592000&v=4566a1a62ecad72fe9b9205d1ad62d2b) 1x,url(img/icon_list_menu@2x.png?max_age=2592000&v=4566a1a62ecad72fe9b9205d1ad62d2b&v=155713ca49dc652a6ada08b0492f088a) 2x);background-repeat:no-repeat}

.list_menu__icon_play{background-position:0 0}

.list_menu__icon_pause{background-position:0 -200px}

.list_menu__icon_share{background-position:0 -40px}

.list_menu__icon_add{background-position:0 -80px}

.list_menu__icon_down{background-position:0 -120px}

.list_menu__icon_edit{background-position:0 -240px}

.list_menu__icon_delete{background-position:0 -160px}

@media (max-width:1240px){.list_menu__item{margin-right:5px}

}

.list_menu__item:hover .list_menu__icon_play{background-position:-40px 0}

.list_menu__item:hover .list_menu__icon_pause{background-position:-40px -200px}

.list_menu__item:hover .list_menu__icon_share{background-position:-40px -40px}

.list_menu__item:hover .list_menu__icon_add{background-position:-40px -80px}

.list_menu__item:hover .list_menu__icon_down{background-position:-40px -120px}

.list_menu__item:hover .list_menu__icon_edit{background-position:-40px -240px}

.list_menu__item:hover .list_menu__icon_delete{background-position:-40px -160px}

.songlist__item--disable .list_menu__item{cursor:default}

.songlist__item--disable .list_menu__icon_play,.songlist__item--disable .list_menu__item:hover .list_menu__icon_play{background-position:-160px 0}

.songlist__item--disable .list_menu__icon_pause,.songlist__item--disable .list_menu__item:hover .list_menu__icon_pause{background-position:-160px -200px}

.songlist__item--disable .list_menu__icon_share,.songlist__item--disable .list_menu__item:hover .list_menu__icon_share{background-position:-160px -40px}

.songlist__item--disable .list_menu__icon_add,.songlist__item--disable .list_menu__item:hover .list_menu__icon_add{background-position:-160px -80px}

.songlist__item--disable .list_menu__icon_down,.songlist__item--disable .list_menu__item:hover .list_menu__icon_down{background-position:-160px -120px}

.songlist__item--disable .list_menu__icon_edit,.songlist__item--disable .list_menu__item:hover .list_menu__icon_edit{background-position:-160px -240px}

.songlist__item--disable .list_menu__icon_delete,.songlist__item--disable .list_menu__item:hover{background-position:-160px -160px}

.btn_operate_menu{display:none}

.mod_operate_menu{position:absolute;top:auto;left:auto;z-index:100;color:#4F4F4F;font-size:14px}

.operate_menu__cont,.operate_menu__sub{width:168px;padding:5px 0;background-color:#fff;box-shadow:0 0 10px 0 rgba(183,183,183,.65);border:1px solid #bfbfbf}

.operate_menu__link{display:block;height:36px;line-height:36px;padding-left:40px;padding-right:15px;margin-bottom:1px;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

.operate_menu__list{max-height:250px;overflow-y:auto}

.operate_menu__list--no_icon .operate_menu__link{padding-left:15px}

.operate_menu__link--hover,.operate_menu__link:hover{background-color:#31c2c;color:#fff}

.operate_menu__link--disabled{opacity:.5;filter:alpha(opacity=50);cursor:default;pointer-events:none}

.operate_menu__top_line{padding-top:5px;border-top:1px solid #f0f0f0;margin-top:5px}

.operate_menu__bottom_line{padding-bottom:5px;border-bottom:1px solid #f0f0f0;margin-bottom:5px}

.operate_menu__sub{position:absolute;top:initial;left:169px;width:180px;overflow:hidden;color:#4F4F4F;display:none;z-index:-1}

.operate_menu__sub.top{top:-3px}

.operate_menu__sub.bottom{bottom:-3px}

.operate_menu__sub ul{max-height:250px;overflow-x:hidden;overflow-y:auto}

.operate_menu__sub .mod_operate_menu__link{padding-left:15px}

.operate_menu__item--hover .operate_menu__sub,.operate_menu__item:focus .operate_menu__sub{display:block;max-height:285px}

.operate_menu__icon_add,.operate_menu__icon_arrow,.operate_menu__icon_batch,.operate_menu__icon_delete,.operate_menu__icon_down,.operate_menu__icon_edit,.operate_menu__icon_like,.operate_menu__icon_prev_arrow,.operate_menu__icon_qzone,.operate_menu__icon_radio,.operate_menu__icon_share{position:absolute;width:16px;height:16px;left:15px;top:10px;background-repeat:no-repeat}

.operate_menu__icon_like{background-position:-60px 0}

.operate_menu__icon_add{background-position:-20px 0}

.operate_menu__icon_radio{background-position:-80px 0}

.operate_menu__icon_delete{background-position:-100px 0}

.operate_menu__icon_down{background-position:-40px -220px}

.operate_menu__icon_share{background-position:-100px -180px}

.operate_menu__icon_batch{background-position:-120px 0}

.operate_menu__icon_edit{background-position:-140px 0}

.operate_menu__icon_arrow{width:6px;height:11px;left:auto;right:15px;top:12px;background-position:0 0}

.operate_menu__icon_prev_arrow{width:6px;height:11px;left:20px;top:12px;background-position:-10px 0}

.operate_menu__icon_qzone{background-position:-60px -300px;top:9px}

.operate_menu__link:hover .operate_menu__icon_add{background-position:-20px -20px}

.operate_menu__link:hover .operate_menu__icon_like{background-position:-60px -20px}

.operate_menu__link:hover .operate_menu__icon_radio{background-position:-80px -20px}

.operate_menu__link:hover .operate_menu__icon_delete{background-position:-100px -20px}

.operate_menu__link:hover .operate_menu__icon_down{background-position:-40px -240px}

.operate_menu__link:hover .operate_menu__icon_share{background-position:-100px -200px}

.operate_menu__link:hover .operate_menu__icon_batch{background-position:-120px -20px}

.operate_menu__link:hover .operate_menu__icon_arrow{background-position:0 -20px}

.operate_menu__link:hover .operate_menu__icon_prev_arrow{background-position:-10px -20px}

.operate_menu__link:hover .operate_menu__icon_edit{background-position:-140px -20px}

.operate_menu__link:hover .operate_menu__icon_qzone{background-position:-80px -300px}

.mod_playlist{overflow:hidden;font-size:0}

.mod_playlist .playlist__list{margin-right:-20px}

.mod_playlist .playlist__header{display:none}

.mod_playlist .playlist__item{display:inline-block;width:20%;padding-bottom:44px;overflow:hidden;font-size:14px;vertical-align:top}

.mod_playlist .playlist__item_box{position:relative;margin-right:20px}

.mod_playlist .playlist__cover{position:relative;display:block;overflow:hidden;padding-top:100%;margin-bottom:15px}

.mod_playlist .playlist__pic{position:absolute;top:0;left:0;width:100%;-webkit-transform:scale(1) translateZ(0);-webkit-transition:-webkit-transform .75s}

.mod_playlist .playlist__cover:hover .playlist__pic{-webkit-transform:scale(1.07) translateZ(0);-webkit-transition:-webkit-transform .75s cubic-bezier(0,1,.75,1)}

@supports (transform:scale(1)){.mod_playlist .playlist__pic{transform:scale(1) translateZ(0);transition:transform .75s}

.mod_playlist .playlist__cover:hover .playlist__pic{transform:scale(1.07) translateZ(0);transition:transform .75s cubic-bezier(0,1,.75,1)}

}

@supports (object-fit:cover){.mod_playlist .playlist__pic{height:100%;object-fit:cover}

}

.mod_playlist .mod_list_menu,.mod_playlist .playlist__delete,.mod_playlist .playlist__number{display:none}

.mod_playlist .playlist__title{overflow:hidden}

.mod_playlist .playlist__title_txt{float:left;max-width:100%;font-weight:400;overflow:hidden;text-overflow:ellipsis;line-height:22px;max-height:44px}

.mod_playlist .playlist__author,.mod_playlist .playlist__author a,.mod_playlist .playlist__other{color:#999;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:22px}

.mod_playlist .playlist__author a:hover{color:#31c2c}

.mod_playlist .btn_operate_menu{display:none}

.mod_mv_list{overflow:hidden}

.mv_list__list{margin-right:-20px;zoom:1}

.mv_list__list:after{content:"";display:block;clear:both}

.mv_list__item{float:left;width:25%;padding-bottom:44px;overflow:hidden}

.mv_list__item_box{position:relative;margin-right:20px}

.mv_list__cover{position:relative;display:block;overflow:hidden;padding-top:56.5476%;margin-bottom:15px}

.mv_list__cover:after{content:"";position:absolute;bottom:0;left:0;right:0;height:60px;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.4) 80%,rgba(0,0,0,.7) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000', GradientType=0 )}

.mv_list__pic{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform:scale(1);-webkit-transition:transform .75s}

.mv_list__cover:hover .mv_list__pic{-webkit-transform:scale(1.07) translateZ(0);-webkit-transition:transform .75s cubic-bezier(0,1,.75,1)}

.mv_list__lang{position:absolute;top:0;left:0;width:34px;line-height:20px;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#3A000000', endColorstr='#3A000000');background:rgba(0,0,0,.23);text-align:center;font-size:12px}

@supports (transform:scale(1)){.mv_list__pic{transform:scale(1);transition:transform .75s}

.mv_list__cover:hover .mv_list__pic{transform:scale(1.07) translateZ(0);transition:transform .75s cubic-bezier(0,1,.75,1)}

}

@supports (-webkit-appearance:none){.mv_list__lang{height:20px;line-height:22px}

}

.mv_list__title{font-weight:400;zoom:1;*width:100%}

.mv_list__desc,.mv_list__singer,.mv_list__title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.mv_list__singer{height:24px}

.mv_list__info{line-height:18px;height:20px}

.mv_list__desc,.mv_list__info,.mv_list__singer,.mv_list__singer a{color:#999}

.mv_list__singer a:hover{color:#31c2c}

.mv_list__time{position:absolute;bottom:0;left:0;right:0;height:30px;text-indent:10px;text-align:right;padding-right:10px;z-index:2}

.mv_list__cover:hover .mv_list__cover,.mv_list__time{color:#fff}

.mv_list__listen{margin-right:10px}

.mv_list__listen_icon{display:inline-block;width:19px;height:12px;background-position:-180px -20px;margin-right:5px;vertical-align:-1px}

.mod_songlist_toolbar{position:relative;margin-bottom:20px;font-size:0}

.mod_songlist_toolbar .mod_btn{min-width:122px;text-align:center}

.mod_songlist{font-size:14px;overflow:hidden}

.songlist__list{overflow:hidden;clear:both}

.songlist__header,.songlist__item{position:relative;padding-left:46px;padding-right:100px}

.songlist__item{clear:both;font-size:0;overflow:hidden}

.songlist__item--even{background-color:#fbfbfd}

.songlist__album,.songlist__artist,.songlist__number,.songlist__other,.songlist__songname,.songlist__time{line-height:50px;height:50px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px}

.songlist__header{height:50px;line-height:50px;background-color:#fbfbfd;color:#999}

.songlist__header_name,.songlist__songname{float:left;width:47.685185%;position:relative;white-space:normal}

.songlist__album,.songlist__artist,.songlist__header_album,.songlist__header_author{float:left;padding-left:20px;width:25.5%;box-sizing:border-box}

.songlist__header_time,.songlist__time{position:absolute;top:0;right:38px;width:50px}

.songlist__header_other,.songlist__other{position:absolute;top:0;right:0;width:38px;overflow:inherit}

.songlist__song_txt{margin-left:10px}

.songlist__song_txt,.songlist__time{color:#999}

.songlist__number{position:absolute;top:0;left:10px;color:#999;width:36px}

.songlist__songname_txt{float:left;overflow:hidden;text-overflow:ellipsis;max-width:75%;margin-right:8px;white-space:nowrap}

.songlist__item .songlist__songname_txt:nth-child(1){max-width:85%;box-sizing:border-box}

.songlist__item .songlist__icon:nth-child(1)+.songlist__songname_txt{max-width:72%;box-sizing:border-box}

.songlist__item .songlist__icon:nth-child(2)+.songlist__songname_txt{max-width:62%;box-sizing:border-box}

.songlist__icon{display:inline-block}

.songlist__item .mod_list_menu{position:absolute;right:-10px;right:-9999px\9;top:50%;overflow:hidden;opacity:0;pointer-events:none}

.songlist__item--current .mod_list_menu,.songlist__item:hover .mod_list_menu{opacity:1;pointer-events:inherit;right:-10px;margin-top:-18px}

.songlist__item--current .songlist__songname_txt,.songlist__item:hover .songlist__songname_txt{max-width:31%}

.songlist__item--current .songlist__songname_txt:nth-child(1),.songlist__item:hover .songlist__songname_txt:nth-child(1){max-width:50%}

.songlist__item--current .songlist__icon:nth-child(1)+.songlist__songname_txt,.songlist__item:hover .songlist__icon:nth-child(1)+.songlist__songname_txt{max-width:38%}

.songlist__item--current .songlist__icon:nth-child(2)+.songlist__songname_txt,.songlist__item:hover .songlist__icon:nth-child(2)+.songlist__songname_txt{max-width:28%}

@media (max-width:1240px){.songlist__item--current .songlist__songname_txt,.songlist__item:hover .songlist__songname_txt{max-width:38%}

.songlist__item--current .songlist__icon:nth-child(1)+.songlist__songname_txt,.songlist__item:hover .songlist__icon:nth-child(1)+.songlist__songname_txt{max-width:32%}

.songlist__item--current .songlist__icon:nth-child(2)+.songlist__songname_txt,.songlist__item:hover .songlist__icon:nth-child(2)+.songlist__songname_txt{max-width:22%}

.mod_songlist--edit .songlist__item--current .songlist__songname_txt,.mod_songlist--edit .songlist__item:hover .songlist__songname_txt{max-width:37%}

.mod_songlist--edit .songlist__item--current .songlist__icon:nth-child(1)+.songlist__songname_txt,.mod_songlist--edit .songlist__item:hover .songlist__icon:nth-child(1)+.songlist__songname_txt{max-width:20%}

.mod_songlist--edit .songlist__item--current .songlist__icon:nth-child(2)+.songlist__songname_txt,.mod_songlist--edit .songlist__item:hover .songlist__icon:nth-child(2)+.songlist__songname_txt{max-width:11%}

.songlist__item:hover .mod_list_menu{right:-5px}

}

.songlist__item--disable .songlist__songname_txt a{color:#999}

.popup_data_detail.songlist_tips{top:45px;right:4px;width:280px;z-index:2}

.songlist_tips .popup_data_detail__cont{margin:10px 15px}

.songlist_tips .popup_data_detail__cont p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:0}

body:last-child .songlist_tips .popup_data_detail__arrow{top:-11px;right:16px;left:auto;margin-left:0;width:17px;height:11px;background-position:-11px 0}

.songlist__other:hover .songlist_tips{display:block}

.icon_sosomusic{width:18px;height:18px;display:block;position:relative;top:50%;margin-top:-9px;line-height:99px;overflow:hidden;background-position:-120px -80px}

.songlist__icon_mv{display:inline-block;width:33px;height:16px;background-position:-40px -280px;vertical-align:middle;margin-right:6px}

.songlist__icon_exclusive{display:inline-block;width:34px;height:16px;background-position:-80px -280px;vertical-align:middle}

.songlist__edit{display:none}

.songlist__checkbox{opacity:0;filter:alpha(opacity=0)}

.mod_songlist_toolbar--edit{margin-bottom:60px;margin-top:-44px}

.mod_songlist--edit .songlist__header,.mod_songlist--edit .songlist__item,.mod_songlist_toolbar--edit{padding-left:82px}

.mod_songlist--edit .songlist__edit,.mod_songlist_toolbar--edit .songlist__edit{display:block;position:absolute;left:20px;top:50%;margin-top:-9px;width:14px;height:14px;line-height:14px;border:1px solid #ccc;background-position:-1000px}

.mod_songlist--edit .songlist__edit input,.mod_songlist_toolbar--edit input{width:14px;height:14px}

.mod_songlist--edit .songlist__edit--check,.mod_songlist_toolbar--edit .songlist__edit--check{border-color:#31c2c;background-position:-60px -100px}

.mod_songlist_toolbar--edit .mod_btn{margin-top:6px}

.mod_songlist--edit .songlist__number{left:46px}

.none_txt{font-size:20px;color:#666;line-height:38px;text-align:center;padding:90px 0 100px}

.none_txt__symbol{display:block;width:213px;height:203px;margin:0 auto 2px;background-image:url(img/symbol_none.png?max_age=2592000&v=056e33119d5748360c67d7f5a33e25a0);background-image:-webkit-image-set(url(img/symbol_none.png?max_age=2592000&v=056e33119d5748360c67d7f5a33e25a0) 1x,url(img/symbol_none@2x.png?max_age=2592000&v=056e33119d5748360c67d7f5a33e25a0&v=ad9d25f33c9d3141fb8256229efa8e25) 2x)}

.none_txt__symbol--album{width:207px;height:207px;background-image:url(img/symbol_none--album.png?max_age=2592000&v=fe0dea39ac2baa5edfd83c7549f65402);background-image:-webkit-image-set(url(img/symbol_none--album.png?max_age=2592000&v=fe0dea39ac2baa5edfd83c7549f65402) 1x,url(img/symbol_none--album@2x.png?max_age=2592000&v=fe0dea39ac2baa5edfd83c7549f65402&v=0f3750e6783ac7191b0b545415f610fd) 2x)}

.none_txt__symbol--mv{width:200px;height:182px;background-image:url(img/symbol_none--mv.png?max_age=2592000&v=abdb9209dfed0195f5734d71ef1451d2);background-image:-webkit-image-set(url(img/symbol_none--mv.png?max_age=2592000&v=abdb9209dfed0195f5734d71ef1451d2) 1x,url(img/symbol_none--mv@2x.png?max_age=2592000&v=abdb9209dfed0195f5734d71ef1451d2&v=1f6e1ce2c2446fdcdb994b5e59c7b287) 2x)}

.none_txt p a{color:#31c2c}

.none_txt__action{margin-top:30px;height:30px}

.none_txt__btn{width:202px;margin-right:0;font-size:16px}

.detail_layout{padding-right:343px}

.detail_layout::after{content:"";display:block;clear:both}

.detail_layout__main{float:left;width:100%;padding-bottom:20px}

.detail_layout__other{float:right;position:relative;width:290px;margin-right:-343px;padding-bottom:20px}

.mod_data{position:relative;height:250px;padding-left:305px;margin-top:40px;margin-bottom:35px}

.data__cont{padding-top:13px}

.data__cover{position:absolute;left:0;top:0;width:250px;height:250px}

.data__photo{width:100%;height:100%;object-fit:cover}

.data__name{overflow:hidden;height:50px;line-height:50px}

.data__name_txt{float:left;font-size:31px;line-height:50px;font-weight:400;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:70%;margin-right:10px}

.data__singer{height:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:90%}

.icon_singer{float:left;width:16px;height:16px;background-position:-20px -240px;margin:5px 7px 0 0}

.data__singer_txt{font-size:16px;color:#333}

.data__singer_line{padding:1px 4px}

.data__actions{position:absolute;bottom:23px;font-size:0}

.data__actions .mod_btn,.data__actions .mod_btn_green{min-width:90px;text-align:center;padding:0 0px;font-family:\5FAE\8F6F\96C5\9ED1}

.mod_about{line-height:22px;margin-bottom:25px;margin-top:-8px}

.about__tit{font-size:20px;font-weight:400;line-height:46px}

.about__cont{max-height:88px;overflow:hidden}

.about__more{margin-right:10px}

.other_part{overflow:hidden;margin-bottom:10px}

.other_part__tit{font-size:20px;font-weight:400;line-height:46px}

.detail_layout__other .playlist__item{width:33.333333%;padding-bottom:14px}

.detail_layout__other .mv_list__cover,.detail_layout__other .playlist__cover{margin-bottom:4px}

.detail_layout__other .mv_list__singer,.detail_layout__other .mv_list__title,.detail_layout__other .playlist__title,.detail_layout__other .playlist__title_txt{line-height:1.5;margin-bottom:0}

.detail_layout__other .mv_list__item_box{margin-right:0}

.detail_layout__other .playlist__cover:hover .playlist__pic,.detail_layout__other .playlist__pic{-webkit-transform:none;-webkit-transition:none;transform:none;transition:none}

.detail_layout__other .mod_playlist .mod_cover__icon_play,.detail_layout__other .mod_playlist .mod_cover__icon_play:hover{display:none}

@media (max-width:1240px){.detail_layout{padding-right:300px}

.detail_layout__other{width:20px;margin-right:-300px}

.detail_layout__other .playlist__list{margin-right:-12px}

.detail_layout__other .playlist__item_box{margin-right:12px}

}

.mod_cover{zoom:1}

.mod_cover__icon_play{position:absolute;left:50%;top:50%;margin:-35px;width:70px;height:70px;filter:alpha(opacity=0);opacity:0;-webkit-transform:scale(.7) translateZ(0);-webkit-transition-property:opacity,-webkit-transform;-webkit-transition-duration:.5s;transform:scale(.7) translateZ(0);transition-property:opacity,transform;transition-duration:.5s;zoom:1}

@supports (-webkit-appearance:none){.mod_cover.play::after{content:"";position:absolute;top:50%;left:50%;margin:-50px -70px;width:35px;height:40px;background:url(img/play_ani.png?max_age=2592000&v=dee36d355a00ad33e00754dbe30f952);-webkit-animation:play .7s forwards ease-in-out;animation:play .7s forwards ease-in-out}

@-webkit-keyframes play{0{opacity:1;-webkit-transform:translateY(0)}

100%{opacity:0;-webkit-transform:translateY(-40px)}

}

@keyframes play{0{opacity:1;transform:translateY(0)}

100%{opacity:0;transform:translateY(-20px)}

}

}

.mod_cover__mask{position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .5s;transition:opacity .5s}

.mod_cover:hover .mod_cover__icon_play{background:0 0\9;filter:progid:dximagetransform.microsoft.alphaimageloader(src="http://imgcache.gtimg.cn/mediastyle/yqq/img/cover_play.png", sizingmethod="crop") alpha(opacity=90);opacity:.9;-webkit-transform:scale(1) translateZ(0);-webkit-transition-property:opacity,-webkit-transform;-webkit-transition-duration:.5s;transform:scale(1) translateZ(0);transition-property:opacity,transform;transition-duration:.5s;cursor:pointer}

.mod_cover:hover .mod_cover__icon_play,.mod_cover__icon_play{background-image:url(img/cover_play.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006);background-image:-webkit-image-set(url(img/cover_play.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006) 1x,url(img/cover_play@2x.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006&v=10e4305a2558d496548955434eaa30d9) 2x)}

.mod_cover:hover .mod_cover__icon_play{opacity:1;filter:none}

.mod_cover:hover .mod_cover__mask{opacity:.2;filter:alpha(opacity=20);-webkit-transition:opacity .5s;transition:opacity .5s}

.none_txt{font-size:20px;color:#666;line-height:38px;text-align:center;padding:90px 0 100px}

.none_txt__symbol{display:block;width:213px;height:203px;margin:0 auto 2px;background-image:url(img/symbol_none.png?max_age=2592000&v=056e33119d5748360c67d7f5a33e25a0);background-image:-webkit-image-set(url(img/symbol_none.png?max_age=2592000&v=056e33119d5748360c67d7f5a33e25a0) 1x,url(img/symbol_none@2x.png?max_age=2592000&v=056e33119d5748360c67d7f5a33e25a0&v=ad9d25f33c9d3141fb8256229efa8e25) 2x)}

.none_txt__symbol--album{width:207px;height:207px;background-image:url(img/symbol_none--album.png?max_age=2592000&v=fe0dea39ac2baa5edfd83c7549f65402);background-image:-webkit-image-set(url(img/symbol_none--album.png?max_age=2592000&v=fe0dea39ac2baa5edfd83c7549f65402) 1x,url(img/symbol_none--album@2x.png?max_age=2592000&v=fe0dea39ac2baa5edfd83c7549f65402&v=0f3750e6783ac7191b0b545415f610fd) 2x)}

.none_txt__symbol--mv{width:200px;height:182px;background-image:url(img/symbol_none--mv.png?max_age=2592000&v=abdb9209dfed0195f5734d71ef1451d2);background-image:-webkit-image-set(url(img/symbol_none--mv.png?max_age=2592000&v=abdb9209dfed0195f5734d71ef1451d2) 1x,url(img/symbol_none--mv@2x.png?max_age=2592000&v=abdb9209dfed0195f5734d71ef1451d2&v=1f6e1ce2c2446fdcdb994b5e59c7b287) 2x)}

.none_txt p a{color:#31c2c}

.none_txt__action{margin-top:30px;height:30px}

.none_txt__btn{width:202px;margin-right:0;font-size:16px}

body{background:url(img/bg_detail.jpg) 50% 90px repeat-x}

.mod_page_nav{clear:both;text-align:center;margin-bottom:60px;font-size:0}

.mod_page_nav a{color:#a2a2a2}

.mod_page_nav a,.mod_page_nav strong{font-size:16px;font-weight:400;display:inline-block;line-height:50px;margin:0 5px;padding:0 21px;box-sizing:border-box;min-width:24px}

.mod_page_nav .current,.mod_page_nav a:hover{color:#fff;background-color:#31c27c}

.mod_page_nav__next,.mod_page_nav__prev{font-size:0}

.mod_page_nav__next_icon,.mod_page_nav__prev_icon{display:inline-block;width:6px;height:11px;background-repeat:no-repeat}

.mod_page_nav__prev_icon{background-position:-10px 0}

.mod_page_nav__next_icon{background-position:0 0}

.mod_page_nav a:hover .mod_page_nav__prev_icon{background-position:-10px -20px}

.mod_page_nav a:hover .mod_page_nav__next_icon{background-position:0 -20px}

.mod_all_comment{margin-bottom:46px}

.mod_hot_comment{margin-bottom:16px}

.icon_comment{background-image:url(img/comment.png?max_age=2592000&v=d415294b1d14d55fba81ab229ae3f88a);background-image:-webkit-image-set(url(img/comment.png?max_age=2592000&v=d415294b1d14d55fba81ab229ae3f88a) 1x,url(img/comment@2x.png?max_age=2592000&v=d415294b1d14d55fba81ab229ae3f88a&v=e25731d4c0a3dbe2524ebd5b5d6b8374) 2x);background-repeat:no-repeat}

.icon_comment_like,.icon_comment_liked{display:inline-block;margin-right:5px;width:17px;height:17px;overflow:hidden;vertical-align:-3px}

.icon_comment_like{background-position:-25px -25px}

.comment__zan.done{color:#31c2c}

.comment__zan.done .icon_comment_like,.comment__zan:hover .icon_comment_like,.icon_comment_liked{background-position:0 -25px}

.icon_comment_delete{display:inline-block;margin-right:5px;width:14px;height:17px;background-position:-25px -75px;font-size:0;vertical-align:middle}

.icon_comment_delete:hover{background-position:0 -75px}

.icon_comment_feedback{display:inline-block;width:17px;height:17px;background-position:-25px -50px;font-size:0;vertical-align:middle}

.icon_comment_feedback.done,.icon_comment_feedback:hover{background-position:0 -50px}

.icon_comment_face{display:inline-block;width:20px;height:20px;background-position:0 0;vertical-align:-1px}

.icon_comment_report{display:inline-block;margin-right:5px;width:17px;height:15px;background-position:-25px -240px;font-size:0;vertical-align:middle}

.icon_comment_report:hover{background-position:0 -240px}

.icon_comment_top{display:inline-block;width:32px;height:15px;margin-left:6px;background-position:0 -260px;margin-top:3px}

.comment__input{position:relative;padding-bottom:60px}

.comment__textarea{position:relative;overflow:hidden;height:102px;border:solid 1px #ececec;background-color:#f5f5f5}

.comment__textarea_inner{margin:10px 14px 0 14px}

.comment__textarea_default,.comment__textarea_input{width:100%;border:none;height:66px;resize:none;overflow:auto;outline:0;background:0 0}

.comment__textarea ::-webkit-input-placeholder{color:#999}

.comment__tips{position:absolute;bottom:3px;right:14px;text-align:right}

.comment__tool{position:absolute;bottom:10px;right:-5px}

.comment__tool a{margin-right:5px}




.comment__tool_btn{width:100px;line-height:2px;height:2px;text-align:center;padding:0}

.comment__face{position:absolute;right:90px;bottom:14px}




.comment__face--select{color:#31c2c}

.comment__face--select .icon_face,.comment__face:hover .icon_face{background-position:-240px -320px}

.comment__list{padding-bottom:14px}

.comment__list_item{position:relative;padding:15px 0 15px 56px;zoom:1;border-bottom-width:1px;border-bottom-style:solid;border-color:#ededed}

.comment__list_item .comment__avatar_icon{position:absolute;width:12px;height:12px;right:0;bottom:0;z-index:2}

.comment__avatar{position:absolute;left:0;top:20px;width:38px;height:38px}

.comment__avatar img{display:block;width:100%;height:100%;border-radius:999px}

.comment__title{font-weight:400;margin-bottom:6px;overflow:hidden;height:20px;white-space:nowrap;text-overflow:ellipsis}

.comment__title a,.comment__title span{float:left; color:#F00}

.comment__title .vip_icon{position:relative;top:-2px

}

.comment__title .vip_icon img{max-height:24px}

.comment__text{overflow:hidden;word-break:break-all;word-wrap:break-word;line-height:24px;text-align:justify}

.comment__text img{position:relative;vertical-align:middle;top:-2px}

.mod_yueping .comment__text{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}

.comment__text--history{margin:5px 0 4px 12px;padding:0 0 0 10px;border-left-width:1px;border-left-style:solid}

.comment__name{position:relative;margin-bottom:8px}

.comment__more{margin-top:8px;text-align:right}

.comment__opt{line-height:24px;text-align:right;overflow:hidden}

.user_type{margin-right:5px}

.user_grade .grade__score{margin:6px -16px 0 0;-webkit-transform:scale(.78);-webkit-transform-origin-x:left}

.comment__date{float:left;line-height:28px}

.comment__zan{vertical-align:-1px}

.comment__delete,.comment__good,.comment__report,.comment__zan{margin-right:22px}

.comment__list_item:hover .comment__delete{display:inline-block}

.comment_type__title{position:relative;height:34px;line-height:34px;padding-bottom:10px;border-bottom-width:1px;border-bottom-style:solid;border-color:#ededed}

.comment_type__title h2{font-weight:400;font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.comment_type__title .mod_switch{position:absolute;right:0;top:0;line-height:34px}

.comment__show_all{padding-top:3px;text-align:center}

.comment__icon_arrow_down{display:inline-block;width:10px;height:6px;background-position:-120px -260px;vertical-align:middle;margin-left:8px;opacity:.5;filter:alpha(opacity=50)}

.comment__show_all_link:hover .comment__icon_arrow_down{background-position:-140px -260px;opacity:1;filter:none}

.mod_yueping{margin-bottom:20px}

.comment_repeat{padding-top:16px}

.comment_repeat .comment__face{right:180px}

.popup_face{position:relative;width:330px;height:auto;padding:25px;background-color:#fff;box-shadow:0 0 10px rgba(0,0,0,.3);border:1px solid #bfbfbf}

.popup_face .popup__close{top:7px;right:7px}

.emoji__page{height:180px;overflow:hidden;clear:both}

.emoji__item{position:relative;float:left;width:30px;height:30px;overflow:hidden;background-image:url(img/emoji_bg.png?max_age=2592000&v=77d6bc4ba0b648bde1adca2d516b1dfa)}

.emoji__item:hover{background-color:#f5f5f5}

.emoji__item1{background-position:0 0}

.emoji__item2{background-position:-30px 0}

.emoji__item3{background-position:-60px 0}

.emoji__item4{background-position:-90px 0}

.emoji__item5{background-position:-120px 0}

.emoji__item6{background-position:-150px 0}

.emoji__item7{background-position:-180px 0}

.emoji__item8{background-position:-210px 0}

.emoji__item9{background-position:-240px 0}

.emoji__item10{background-position:-20px 0}

.emoji__item11{background-position:-300px 0}

.emoji__item12{background-position:0 -30px}

.emoji__item13{background-position:-30px -30px}

.emoji__item14{background-position:-60px -30px}

.emoji__item15{background-position:-90px -30px}

.emoji__item16{background-position:-120px -30px}

.emoji__item17{background-position:-150px -30px}

.emoji__item18{background-position:-180px -30px}

.emoji__item19{background-position:-210px -30px}

.emoji__item20{background-position:-240px -30px}

.emoji__item21{background-position:-20px -30px}

.emoji__item22{background-position:-300px -30px}

.emoji__item23{background-position:0 -60px}

.emoji__item24{background-position:-30px -60px}

.emoji__item25{background-position:-60px -60px}

.emoji__item26{background-position:-90px -60px}

.emoji__item2{background-position:-120px -60px}

.emoji__item28{background-position:-150px -60px}

.emoji__item29{background-position:-180px -60px}

.emoji__item30{background-position:-210px -60px}

.emoji__item31{background-position:-240px -60px}

.emoji__item32{background-position:-20px -60px}

.emoji__item33{background-position:-300px -60px}

.emoji__item34{background-position:0 -90px}

.emoji__item35{background-position:-30px -90px}

.emoji__item36{background-position:-60px -90px}

.emoji__item37{background-position:-90px -90px}

.emoji__item38{background-position:-120px -90px}

.emoji__item39{background-position:-150px -90px}

.emoji__item40{background-position:-180px -90px}

.emoji__item41{background-position:-210px -90px}

.emoji__item42{background-position:-240px -90px}

.emoji__item43{background-position:-20px -90px}

.emoji__item44{background-position:-300px -90px}

.emoji__item45{background-position:0 -120px}

.emoji__item46{background-position:-30px -120px}

.emoji__item47{background-position:-60px -120px}

.emoji__item48{background-position:-90px -120px}

.emoji__item49{background-position:-120px -120px}

.emoji__item50{background-position:-150px -120px}

.emoji__item51{background-position:-180px -120px}

.emoji__item52{background-position:-210px -120px}

.emoji__item53{background-position:-240px -120px}

.emoji__item54{background-position:-20px -120px}

.emoji__item55{background-position:-300px -120px}

.emoji__item56{background-position:0 -150px}

.emoji__item57{background-position:-30px -150px}

.emoji__item58{background-position:-60px -150px}

.emoji__item59{background-position:-90px -150px}

.emoji__item60{background-position:-120px -150px}

.emoji__item61{background-position:-150px -150px}

.emoji__item62{background-position:-180px -150px}

.emoji__item63{background-position:-210px -150px}

.emoji__item64{background-position:-240px -150px}

.emoji__item65{background-position:-20px -150px}

.emoji__item66{background-position:-300px -150px}

.emoji__opt{margin-top:10px;text-align:right}

.emoji__opt span{margin:0 5px}

.emoji__opt .disable{cursor:default;color:#999}

.popup__bd_box .comment__list_item{padding:0 0 0 56px;border-bottom:0}

.c_popup__disabled:hover{color:rgba(0,0,0,.3)}

.mod_popup_yueping{width:720px}

.mod_popup_yueping .popup__bd{max-height:467px;overflow-y:auto}

.popup_comment_report{width:520px}

.popup_comment_report .popup__bd{padding:26px 26px 10px;font-size:0}

.popup_comment_report__form{margin-right:-30px;padding-bottom:10px}

.popup_comment_report .mod_form_radio{display:inline-block;width:33.3333%;font-size:14px;margin-right:0;line-height:32px}

.popup_comment_guide{width:520px}

.popup_comment_guide .popup__bd{margin:10px 3px 10px 26px;padding:0 13px 0 0;box-sizing:border-box}

.popup_comment_guide p{margin-bottom:10px;text-align:justify}

.popup_comment_guide__img{display:block;margin:0 auto 10px}

.mod_comment_none{font-size:16px;line-height:144px;text-align:center}

.comment__intro{display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;line-height:24px;margin-top:-41px;font-size:12px}

.comment__rule{margin:14px 0 24px;text-align:center;font-size:12px}

.mod_part,.mod_part_detail{position:relative;margin-bottom:30px}

.part__hd,.part_detail__hd{overflow:hidden;height:60px}

.part__tit,.part_detail__tit{float:left;font-size:24px;font-weight:400;line-height:58px;font-family:\5FAE\8F6F\96C5\9ED1}

.part__tit_desc{font-size:14px;margin-left:12px}

.part__more{position:absolute;top:20px;right:0;font-size:14px}

.icon_part_arrow{display:inline-block;width:7px;height:12px;background-position:-120px -40px;margin-left:6px;vertical-align:-1px}

.part__more:hover .icon_part_arrow{background-position:-120px -60px}

.mod_part .mv_list__item,.mod_part .playlist__item{padding-bottom:0}

.mod_part .mv_list__item,.mod_part .singer_list__item{width:20%}

.part__tags{float:left;overflow:hidden;padding-left:30px;padding-top:14px}

.part__tag_item{float:left;font-size:15px;line-height:30px;padding:0 15px}

.part__tag_item.current{background-color:#31c2c;color:#fff}

.part_switch{position:absolute;top:7px;right:0;height:40px;line-height:40px;border-radius:2px;font-size:0}

.part_switch__item{position:relative;display:inline-block;padding:0 16px;height:38px;position:relative;font-size:14px;border-width:1px;border-style:solid;border-color:#c9c9c9 transparent #c9c9c9 transparent}

.part_switch__item--left{right:-1px;border-top-left-radius:2px;border-bottom-left-radius:2px;border-color:#c9c9c9}

.part_switch__item--right{border-top-right-radius:2px;border-bottom-right-radius:2px;border-color:#c9c9c9}

.part_switch__item--select,.part_switch__item--select:hover{background-color:#31c2c;color:#fff;border-color:#31c2c;z-index:2}

.part_tags{position:relative;float:left;line-height:38px;margin:8px 6px 0 0;padding:0 25px 0 10px;border:1px solid #c9c9c9;border-radius:2px;font-size:14px}

.part_tags:hover{background-color:#37c2c;border-color:#37c2c;color:#fff}

.part_tags__delete{position:absolute;top:50%;right:4px;margin-top:-8px;width:16px;height:16px;background-position:-160px -120px;overflow:hidden}

.part_tags:hover .part_tags__delete{background-position:-160px -80px}

.part_tags .part_tags__delete:hover{background-color:rgba(225,225,225,.3);border-radius:12px}

.data__cover_edit{position:absolute;bottom:17px;right:17px;width:18px;height:18px;background-position:-140px -80px;display:none}

.data__cover_edit:hover{background-position:-140px -100px}

.data__cover:hover .data__cover_edit{display:block}

.btn_playlist_open{display:inline-block;vertical-align:middle;width:16px;height:20px;background-position:-160px -160px;margin-right:10px}

.data__name:hover .btn_edit,.data_info__item:hover .btn_edit,.mod_about:hover .btn_edit{display:inline-block;vertical-align:middle;width:14px;height:14px}

.btn_edit:hover{background-position:-140px -60px}

.data__name .form_txt__input{font-size:31px;line-height:32px}

.data__info{width:520px;padding-top:8px}

.data_info__item{height:27px;line-height:27px;width:400px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px}

.data_info__tags{margin-right:12px}

.btn_edit{display:none;background-image:url(img/icon_sprite.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de);background-image:-webkit-image-set(url(img/icon_sprite.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de) 1x,url(img/icon_sprite@2x.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de&v=3a0fcc184bba8d368416bde830573668) 2x);background-position:-140px -40px}

.data_tag_edit{display:none}

.tag_edit_box{margin-left:11px}

.tag_edit__tags{position:relative;float:left;line-height:22px;background-color:#adadad;margin:8px 10px 0 0;color:#fff;padding:0 25px 0 7px}

.tag_edit__delete{position:absolute;top:50%;right:4px;margin-top:-8px;width:16px;height:16px;background-position:-160px -80px;overflow:hidden}

.tag_edit__delete:hover{background-position:-160px -100px}

.tag_edit__arrow{border-style:solid}

.tag_edit_select{position:absolute;left:0;top:38px;width:458px;height:258px;padding:20px 20px 0;overflow:hidden;overflow-y:auto;background-color:#fff;border:1px solid #c8cbcc;z-index:9;font-size:14px;line-height:24px}

.tag_edit_select__list{overflow:hidden;margin-bottom:22px;margin-right:-40px}

.tag_edit_select__tit{color:#999}

.tag_edit_select__item{float:left;width:16%}

.data--edit{width:100%;overflow:inherit;position:relative}

.data--edit .data__name_txt{display:none}

.data--edit:hover .btn_edit{display:none}

.data--edit .data_tag_box{display:none}

.data--edit .data_tag_edit{position:absolute;top:-2px;left:0;display:block;width:487px;height:38px}

.data--edit .about__cont,.data--edit .about__more{display:none}

.data__name.data--edit .mod_form_txt{float:left;margin-right:10px}

.mod_songlist{padding-bottom:60px}

.songlist__header{background-color:#fbfbfd}

.songlist__header_name,.songlist__songname{width:54%}

.songlist__album,.songlist__artist,.songlist__header_album,.songlist__header_author{width:20%}

@media (max-width:1240px){.songlist__header_name,.songlist__songname{width:63%}

.songlist__album,.songlist__artist,.songlist__header_album,.songlist__header_author{width:14%}

}

.main--profile .songlist__delete{position:absolute;top:50%;right:-99px;margin-top:-18px;width:36px;height:36px;background-image:url(img/icon_list_menu.png?max_age=2592000&v=4566a1a62ecad72fe9b9205d1ad62d2b);background-image:-webkit-image-set(url(img/icon_list_menu.png?max_age=2592000&v=4566a1a62ecad72fe9b9205d1ad62d2b) 1x,url(img/icon_list_menu@2x.png?max_age=2592000&v=4566a1a62ecad72fe9b9205d1ad62d2b&v=155713ca49dc652a6ada08b0492f088a) 2x);background-position:0 -160px}

.main--profile .songlist__item--current .songlist__delete,.main--profile .songlist__item:hover .songlist__delete{right:58px}

.main--profile .songlist__item--current .songlist__delete:hover,.main--profile .songlist__item:hover .songlist__delete:hover{background-position:-40px -160px}

.main--profile .songlist__item--current .songlist__time,.main--profile .songlist__item:hover .songlist__time{display:none}

.mod_popup_import{width:598px}

.mod_popup_import .popup__bd{margin:0 35px;height:461px;position:relative}

.mod_popup_import .mod_search_input,.mod_popup_import .search_input__input{width:473px}

.mod_popup_import .mod_search_input,.popup_import_prev{margin:28px 0 20px 0}

.popup_import_prev{line-height:36px;height:36px;border-bottom:1px solid #e1e1e1;font-size:16px}

.icon_import_next,.icon_import_prev{width:7px;height:12px;background-image:url(img/icon_sprite.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de);background-image:-webkit-image-set(url(img/icon_sprite.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de) 1x,url(img/icon_sprite@2x.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de&v=3a0fcc184bba8d368416bde830573668) 2x)}

.icon_import_prev{background-position:-180px -240px}

.icon_import_next{float:right;background-position:-160px -240px}

.popup_import_prev__icon{float:left;margin:13px 10px 0 0}

.manage_song_list{overflow:hidden}

.manage_song_list__item{height:36px;line-height:36px}

.manage_song_list__item--now{height:35px;background-color:#f7f7f7;border-bottom:1px dashed #c6c6c6}

.manage_song_list__item--drag{position:absolute;left:0;right:0;background-color:#f7f7f7}

.manage_song_list__item_box{float:left;max-width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.mamage_song_list__line{margin:0 5px}

.manage_song_list__icon_next{float:right;margin-top:12px}

.manage_song_list__action{float:right;text-align:center;width:42px;height:36px}

.manage_song_list__action .manage_song_list__delete{display:none}

.manage_song_list__action:hover .manage_song_list__action_txt{display:none}

.manage_song_list__action:hover .manage_song_list__delete{display:block}

.manage_song_list__delete{width:16px;height:16px;margin:11px auto 0;background:url(img/icon_sprite.png) -100px 0}

.manage_song_list__delete:hover{background-position:-20px -60px}

.manage_page{position:absolute;bottom:0;left:0;width:100%;height:39px;line-height:39px;overflow:hidden;padding:9px 0;color:#999;border-top:1px dotted #e1e1e1}

.manage_page__count{float:left}

.manage_page__current{float:right;white-space:nowrap;position:relative}

.manage_page__page{display:inline-block}

.manage_page__action{display:inline-block;width:55px;text-align:right}

.manage_page__next,.manage_page__prev{display:inline-block;vertical-align:middle;width:18px;height:18px;background-image:url(img/icon_sprite.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de);background-image:-webkit-image-set(url(img/icon_sprite.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de) 1x,url(img/icon_sprite@2x.png?max_age=2592000&v=f5857796791605d0757c4a057644a4de&v=3a0fcc184bba8d368416bde830573668) 2x)}

.manage_page__prev{background-position:-120px -220px;margin-right:5px}

.manage_page__next{background-position:-140px -220px}

.manage_page__prev:hover{background-position:-160px -220px}

.manage_page__next:hover{background-position:-180px -220px}

.manage_page__prev.disable{background-position:-120px -240px;cursor:default}

.manage_page__next.disable{background-position:-140px -240px;cursor:default}

